#home {
  background-image: url("../../assets/img/intro-bg-start.png");
  background-size: 100% 100%;
  height: 500px;
  padding: 10px 10px;
}

.jumbotron {
  max-width: 700px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 300px) {
  #apotheosismind-intro {
    font-size: 36px;
  }
}

:root {
  scroll-behavior: smooth;
}

#get-started-button {
  border-radius: 20px;
}

#Project-button {
  border-radius: 20px;
  border-color: white;
}

@media (min-width: 700px) {
  #apotheosismind-intro {
    font-size: 46px;
    font-weight: 400;
  }
}

@media (min-width: 768px) {
  #inrto-para {
    font-size: 22px;
  }
}

@media (min-width: 768px) {
  #get-started-button {
    font-size: 22px;
    min-width: 162px;
    border-radius: 30px;
  }
}

@media (min-width: 768px) {
  #Project-button {
    font-size: 22px;
    border-radius: 30px;
    min-width: 141px;
  }
}

@media (min-width: 768px) {
  #about-us-section {
    font-size: 46px;
  }
}

@media (min-width: 768px) {
  #project-heading {
    font-size: 76px;
    font-weight: 400;
  }
}

@media (min-width: 768px) {
  #about-us-content {
    font-size: 22px;
  }
}

@media (min-width: 768px) {
  #project-sec-conent {
    font-size: 22px;
  }
}

#last-section {
  background-size: 100% 100%;
}

@media (min-width: 576px) {
  .article-list .item .description {
    font-size: 10px;
    margin-top: 15px;
    margin-bottom: 0;
  }
}

@media (min-width: 576px) {
  #fon-inc {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  #para-conent {
    font-size: 15px;
  }
}

@media (min-width: 576px) {
  #para-conent {
    font-size: 12px;
  }
}

@media (min-width: 300px) {
  #para-conent {
    font-size: 8px;
  }
}

#last-section-mb {
  max-height: 400px;
}

@media (min-width: 576px) {
  #row-article-last {
    max-height: 230px;
  }
}

#last-section-mb {
  max-height: 350px;
}

@media (min-width: 300px) {
  #row-article-last {
    max-height: 200px;
  }
}

@media (min-width: 768px) {
  #para-conent {
    font-size: 14px;
  }
}

@media (min-width: 300px) {
  #mb-pos {
    margin-top: 100px;
  }
}

@media (max-width: 500px) {
  #link-to-web {
    font-size: 22px;
  }
}

@media (min-width: 576px) {
  #link-to-web {
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  #link-to-web {
    font-size: 29px;
    font-weight: 300;
  }
}

