

#head-outer {
    height: auto;
    width: 100%;
    background-color: rgba(52,113,219, 205);
    z-index: 1;
    position: fixed;
    top: 0px;
}

#head-inner {
    padding: 17px;
    overflow: hidden;
}

#company-name {
    color: white;
    font-size: 24px;
    font-weight: 300;
}

#head-right-content {
    position: fixed;
    top: 17px;
    font-size: 18px;
    background-color: rgba(52,113,219, 225);
    right: 50px;
    height: 46px;
    overflow: hidden;
}

.nav-nameselector {
    background-color: rgba(52,113,219, 225);
    margin-bottom: 0px;
    margin-left: 35px;
    padding: 14px;
    border-bottom-color: rgba(52,113,219, 225);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-size: 20px;
    color: white;
}

    .nav-nameselector:hover {
        border-bottom-color: white;
        border-bottom-width: 4px;
    }




#starting-intro-conent:hover + #home-name {
    color: black;
}

#starting-intro-conent:hover + #home-name {
    border-bottom-color: white;
}

.noborderonfocus:focus {
    outline: none;
}

.noborderonfocus {
    padding: 10px 20px;
    border-radius: 50px;
    margin: auto 30px;
    border-style: solid;
    color: white;
    font-size: 15px;
    transition: all 0.5s;
}

#getstarted_button {
    background: rgba(52, 113, 219, 255);
    border-color: rgba(52, 113, 219, 255);
}

    #getstarted_button:hover {
        background: rgba(0,0,0,0);
        border-color: white;
        cursor: pointer;
    }

#Project_button {
    background: rgba(0,0,0,0);
    border-color: white;
}

    #Project_button:hover {
        background: rgba(52, 113, 219, 255);
        border-color: rgba(52, 113, 219, 255);
        cursor: pointer;
    }

#starting-intro-conent {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 900px;
    background: url("https://github.com/sahilbhatiya/Gym-App/blob/master/intro-bg.png?raw=true");
    background-size: 100% 85%;
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;
}

    #starting-intro-conent h1 {
        color: #4885ef;
        padding: 5px;
        font-size: 40px;
    }

    #starting-intro-conent span {
        font-size: 20px;
    }

#mid-intro-conent {
    position: absolute;
    top: 850px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    height: 300px;
    align-items: center;
}

    #mid-intro-conent h1 {
        color: #4885ef;
        padding: 10px 0px;
        font-weight: 400;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding-right: 20px;
        font-size: 40px;
    }

    #mid-intro-conent span {
        position: absolute;
        top: 100px;
        text-align: center;
        width: 100%;
        font-size: 20px;
       
    }

#about-us-right-image {
    position: absolute;
    background: url("about-img.svg");
    background-size: 100% 100%;
    width: 35%;
    height: 500px;
    right: 10px;
    top: 1000px;
}

#project-section-outer {
    position: absolute;
    top: 1750px;
    width: 100%;
    min-height: 700px;
}

    #project-section-outer #project-section-1 h1 {
        color: #4885ef;
        padding: 10px 0px;
        font-weight: 400;
        padding-right: 20px;
        font-size: 40px;
    }







.nav-links {
    text-decoration: none;
}



#contact-section {
    min-height: 270px;
    background: url("intro-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 3950px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: white;
    font-size: 12.5px;
    text-transform: capitalize;
}

    #contact-section div {
        margin-top: 100px;
        text-transform: capitalize;
        margin-left: auto;
        margin-right: auto;
    }

        #contact-section div h1 {
            text-transform: capitalize;
        }

#last-section {
    position: absolute;
    top: 4200px;
    background-color: #1c4fc3;
    color: white;
    height: 100px;
    align-items: center;
    width: 100%;
    text-align: center;
}

    #last-section div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

#contact-section-start {
    position: absolute;
    top: 3250px;
    width: 100%;
    min-height: 500px;
}

#contact-section-inner {
    width: 100%;
    height: 400px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

input:focus {
    outline: none;
}

.content-section-divsion {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 500px;
}

#mail section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#mail-section-inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.mail-sec-in {
    margin: 5px 5px;
    background: white;
}

    .mail-sec-in input, textarea {
        margin: 5px 10px;
        padding: 10px;
    }

#mail-send {
    border-radius: 20px;
    background-color: #4885ef;
    border: 0px;
    padding: 5px 20px;
    color: white;
}

#contact-section-start h1 {
    color: #4885ef;
    font-size: 40px;
    padding: 50px 0px;
    width: 100%;
    font-weight: 400;
    text-align: center;
}


#comming-soon {
    padding: 10px 30px;
    color: white;
    background-color: #ff2222;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    opacity: 0;
}



.image-box{
    margin-top: 100px;
    width: 100%;
    padding-top: 20px;
    height: 300px;
    transition: 0.7s all;
}


.project-img{
    margin: 30px;
  
}

.project-img img{
    border-radius: 5%;
}


.projet-content {
    position: absolute;
    left: 450px;
    height: auto;
    
}

    .projet-content p {
        position: relative;
        width: 90%;
        top: -200px;
        word-spacing: 4.5px;
        padding: 20px;
        
    }

    .projet-content h1 {
        color: #4885ef;
        position: absolute;
        top: -250px;
        font-weight: 300;
        margin-left: 20px;
        font-size: 28px;
    }

.image-box:hover {
    background-color: #EFEFEF;
    border-radius: 50px;
}

    .image-box:hover .projet-content p{
        color: black;
    }

    .image-box:hover .projet-content h1 {
        color: #68a5ff;
     
    }

    .image-box:hover .download-btn {
        background-color: #4885ef;
    }


    .download-btn {
        position: absolute;
        border: 0px;
        right: 30px;
        top: -250px;
        background-color: rgba(22, 83, 189, 255);
        color: white;
        border-radius: 20px;
        padding: 10px 30px;
    }

    .download-btn:focus {
        outline: none;
    }

