@font-face {
	font-family: 'Along Sans';
	src: url(../../assets/fonts/AlongSansRegular.woff2) format('woff2'),
	url(../../assets/fonts/AlongSansRegular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}