@font-face {
	font-family: 'SEGOEUIL';
	src: url(../../assets/fonts/SEGOEUIL.eot) format('embedded-opentype'),
	url(../../assets/fonts/SEGOEUIL.woff) format('woff'),
	url(../../assets/fonts/SEGOEUIL.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}