@font-face {
	font-family: 'Vonique 92';
	src: url(../../assets/fonts/Vonique92.woff2) format('woff2'),
	url(../../assets/fonts/Vonique92.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}