#adjust-my-image {
    width: 200px;
    height: 200px;
    padding: 20px;
    position: fixed;
    bottom: -100px;
}

#my-linkedin {
    color: white;
    padding: 5px;
    background-color: rgba(52,113,219, 225);
    width: 100px;
    left: 200px;
    margin: 5px;
    text-align: center;
    border-radius: 15px;
    transition: all 0.5s;
}

#linkedin-link {
    color: white;
    background-color: rgba(52,113,219, 225);
    text-decoration: none;
    height: 100%;
    padding: 4px 20px;
    transition: all 0.5s;
}

#my-linkedin:hover {
    background-color: #1855bf;
}

    #my-linkedin:hover #linkedin-link {
        background-color: #1855bf;
    }

#my-email {
    color: white;
    padding: 5px;
    background-color: rgba(52,113,219, 225);
    width: 100px;
    margin: 5px;
    text-align: center;
    border-radius: 15px;
    transition: all 0.5s;
}

#email-link {
    color: white;
    background-color: rgba(52,113,219, 225);
    text-decoration: none;
    width: 150px;
    height: 100%;
    padding: 4px 20px;
}

#my-email:hover {
    background-color: #1855bf;
}

    #my-email:hover #email-link {
        background-color: #1855bf;
    }

.my-image-hover {
    position: relative;
    width: 50%;
    border-radius: 50%;
}

.image-of {
    display: block;
    width: 100px;
    position: fixed;
    left: 20px;
    bottom: 20px;
    height: 100px;
    border-radius: 50%;
    background: url("https://github.com/sahilbhatiya/Gym-App/raw/master/build/home_bg.png");
    background-size: 100%;
}

.my-name-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: 1s ease;
    background-color: rgba(52,113,219, 225);
    border-radius: 50%;
}

.my-image-hover:hover .my-name-overlay {
    opacity: 0;
}

.my-name-text {
    color: white;
    background-color: rgba(52,113,219, 1);
    font-size: 14px;
    position: fixed;
    width: 100px;
    position: fixed;
    left: 20px;
    bottom: 20px;
    height: 100px;
    border-radius: 50%;
    align-items: center;
    text-align: center;
}

    .my-name-text p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }




#at-end {
    bottom: 35px;
    left: 125px;
    position: fixed;
    font-size: 12px;
}
