#mnsry_container {
  position: relative;
}

#mnsry_container:hover img {
  opacity: 0.28;
}

#mnsry_container article {
  width: 33.3%;
  min-height: 200px;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
}

#mnsry_container article h1 {
  /*position: absolute;*/
  /*top: 46%;*/
  /*left: 0;*/
  /*width: 100%;*/
  /*text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);*/
  /*transition: all 1.2s;*/
  /*z-index: 1;*/
}

#mnsry_container article img {
  display: block;
  width: 100%;
  transition: all .8s;
}

#mnsry_container article:hover h1 {
  transform: translate3d(0, 18px, 0) scale(1.2, 0.4);
  opacity: 0;
}

#mnsry_container article:hover img {
  opacity: 1;
  transform: scale(1.04);
}

#loading_msg {
  position: fixed;
  top: 48%;
  width: 100%;
  z-index: -1;
  color: rgb(0,0,0);
  font-size: 28px;
  font-family: arial;
  text-align: center;
}

@media (max-width: 860px) {
  #mnsry_container article {
    width: 50%;
    min-height: 150px;
  }
}

@media (max-width: 667px) {
  #mnsry_container article {
    width: 100%;
    min-height: 220px;
  }
}

@media (min-width: 576px) {
  #Main_Logo {
    margin-top: -150px;
  }
}

@media (min-width: 400px) {
  #Main_Logo {
    margin-top: -170px;
    margin-bottom: -50px;
  }
}

.padding-50-0.border-bottom-1 {
  background-color: transparent;
}

div {
}

#squarebox {
  padding: 20px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 50%;
}

#squarebox-image {
  padding-top: 30%;
}

#squarebox-1 {
  padding: 50px;
  top: 50%;
  right: 50%;
  position: absolute;
  height: 100%;
  opacity: 0.8;
}

#sQUARE-box-right1 {
  margin-top: 70%;
}

#squarebox-2 {
  height: 30%;
  position: absolute;
  top: 30%;
  right: 10%;
  opacity: 0.9;
}

#squarebox-3 {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  right: 50%;
  opacity: 0.7;
}

#squarebox-image-1 {
}

#squarebox-5 {
  opacity: 0.5;
  position: absolute;
  top: 30%;
  right: 10%;
  height: 100%;
}

#squarebox-image-4 {
  transform: rotate(30deg);
}

#squarebox-6 {
  position: absolute;
  left: 10%;
  top: 45%;
  height: 80%;
}

#squarebox-image-5 {
  transform: rotate(-30deg);
}

#image-2-box {
  padding-top: 100%;
}

#box-image-circle {
  padding-top: 200%;
}

#asdcascsjdnvkjnvsd {
  height: 5%;
  margin-top: -140%;
}

#dfbdfb-db {
  height: 6%;
  margin-top: -50%;
}

body::-webkit-scrollbar {
  width: 0em;
}

.page_design {
  position: absolute;
  height: 30%;
}

#squarebox-7 {
  top: 110%;
  height: 30%;
  left: 15%;
  opacity: 0.3;
}

#squarebox-13 {
  height: 40%;
  right: 10%;
  top: 150%;
}

#squarebox-14 {
  height: 10%;
  left: 50%;
  right: 50%;
  top: 120%;
  opacity: 0.5;
}

#squarebox-8 {
  top: 146%;
  left: 5%;
  right: 95%;
  height: 40%;
}

#squarebox-9 {
  top: 200%;
  left: 75%;
  right: 25%;
  opacity: 0.5;
}

#squarebox-10 {
  top: 230%;
  left: 20%;
  right: 75%;
  height: 10%;
  opacity: 0.7;
}

