@font-face {
	font-family: 'Along Sans Extra';
	src: url(../../assets/fonts/AlongSansExtraBold.woff2) format('woff2'),
	url(../../assets/fonts/AlongSansExtraBold.woff) format('woff');
	font-weight: 800;
	font-style: normal;
}